<center>

<h1>Welcome to FoodTrucks App   </h1>

<% if current_user %>
<h2><%= current_user.name %> </h2>
<% end %>
<div class='startOrderSec'>
<div class='leftContent'>
<hr>
<p class='orderTitle'>
<span>No More Cash.</span>
<span>Skip The Line.</span>
<span class='red'>Order Online.</span>
</p>
<p class='orderText'>
FoodTrucks brings you the convenience of eating from your favorite trucks without the hassle of long wait lines and having to carry cash. Browse your favorites cuisines or discover new options, all from your fingertips!
</p>
<button name="button" type="submit" class="btn btn-primary trans my-location-search order_now">ORDER NOW</button>

</div>
<img src="/assets/logos/back.jpg" alt="Startorder" size="40px"/>
</div>
</div>
