<%= form_for @vendor, :as => :vendor, :url =>   vendors_path(@vendor), local: true do |f| %>
 
<div id="custom-templates">
  <input class="typeahead" type="text" placeholder="Select User">
</div>

<% end %>   