<div class="modal fade" id="myModal"  role="dialog" >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header" align="left">
                       
                        <h4 class="modal-title" >All Choices</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="item-choices">
                              <h2>Choices</h2>
                            </div>
                    </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                      <div align="left">
                      <span class="red"> * </span> &nbsp;&nbsp;&nbsp;
means such choice will allow customer to choose only one option from the all options available for that choice while ordering
                      </div>
                      <div align="right">
                      <img src="/assets/logos/avc.svg" alt="Startorder" size="40px"/>
                      </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                  </div>
