<div class="bg-danger">
  <div class="row">
    <div class="logo">
      <div class="col-md-6">
          <a href="\">
          <%= image_tag("logos/logo.png")%>
          </a>
        </div>
        </div>
        
    </div>
 </div>
