<div class="bg-danger">
  <div class="row">
    <div class="logo">
      <div class="col-md-6">
          <a href="\">
          <%= image_tag("logos/logo.png")%>
          </a>
        </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="col-md-6">
          <% if user_signed_in? %>
              <%= link_to 'User Dashboard',edit_user_path(current_user), class: 'btn btn-default'%>
              &nbsp &nbsp
          <% if current_user.vendor %>
              <%= link_to 'Vendor Dashboard' , vendor_path(current_user.vendor),class: 'btn btn-default' %>
          <% else %>
             <%= link_to 'Become vendor ?' , new_vendor_path ,class: 'btn btn-default' %>
            <% end %>
          <% end %>
        </div>
    </div>
 </div>
